@media (prefers-color-scheme: dark) {
    body {
        color: #f1f2f6;
    }

    .swal-icon--success:after,
    .swal-icon--success:before,
    .swal-icon--success__hide-corners,
    .swal-modal {
        background-color: #2f3542;
    }

    .swal-text,
    .swal-title {
        color: inherit;
    }

    .terms-of-use::-webkit-scrollbar-thumb {
        background:  #747d8c;
        border-radius: 16px;
    }

    #footer {
        color: #ced6e0;
    }
}
