body {
    color: #1d1d1d;
    cursor: default;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, sans-serif;
    user-select: none;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: default !important;
}

button[disabled] {
    cursor: not-allowed !important;
}

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.small-text {
    font-size: 12px;
}

.terms-of-use {
    cursor: text;
    height: 180px;
    overflow-y: auto;
    text-align: left;
    user-select: text;
}

.terms-of-use::-webkit-scrollbar {
    background-color: #ced6e0;
    border-radius: 16px;
    height: 8px;
    width: 5px;
}

.terms-of-use::-webkit-scrollbar-thumb {
    background: #2f3542;
    border-radius: 16px;
}

.terms-of-use-modal .swal-title {
    padding: 0;
    font-size: 24px;
}

.terms-of-use-modal .swal-footer {
    padding: 0;
}

.terms-of-use-modal .swal-footer button {
    transform: scale(0.9);
}

.version {
    color: #ff4757;
}

#app {
    text-align: center;
}

#footer {
    bottom: 12px;
    color: #4b4b4b;
    position: absolute;
    width: 100%;
}

#footer p {
    margin: 4px 0;
    text-align: center;
}

#footer .external-urls {
    margin-top: 6px;
}

#extended-text {
    margin-top: 12px;
}

#extended-text p:last-child {
    margin-bottom: 0;
}

#extended-text p:first-child {
    margin-top: 0;
}

#game-path {
    padding-left: 12px;
    padding-right: 12px;
}

#install-button, #reinstall-button {
    background-color: #2ed573;
}

#main-buttons {
    align-items: center;
    flex-direction: column;
    display: flex;
    padding-top: 16px;
}

#main-buttons button {
    font-size: 20px;
    width: 240px;
}

#main-buttons button:not(:first-child) {
    margin-top: 28px;
}

#status-text {
    font-weight: bold;
}

#terms {
    display: none;
}

#uninstall-button {
    background-color: #ff6b81;
}
